<! -- 添加捐赠图标 -->
	<div align='center' style='margin-top:80px;'>
		<div id='donate_board' class="donate_bar">
			<a id="btn_donate" class="btn_donate" href="javascript:;" title="打赏"></a>
			<span class="donate_txt">
			   &uarr;<br>
			   <%=theme.donate_message%>
			</span>
		</div>
		<div id="donate_guide" class="donate_bar hidden" >
			<!-- 支付宝打赏图案 -->
			<img src="/photos/donate/zhifubao.jpg" alt="支付宝打赏"> 
			<!-- 微信打赏图案 -->
			<img src="/photos/donate/weixin.png" alt="微信打赏">  
		</div>
	 </div>
<! -- 添加捐赠图标 -->
<script>
	document.getElementById('btn_donate').onclick = function(){
		$('#donate_board').addClass('hidden');
		$('#donate_guide').removeClass('hidden');
	}
	document.getElementById('donate_guide').onclick = function(){
		$('#donate_guide').addClass('hidden');
		$('#donate_board').removeClass('hidden');
	}
</script>
<style>
.hidden{
	display: none;
}
a.btn_donate {
	display: inline-block;
	width: 82px;
	height: 82px;
	margin-left: auto;
	margin-right: auto;
	background: url(http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif)no-repeat;
	-webkit-transition: background 0s;
	-moz-transition: background 0s;
	-o-transition: background 0s;
	-ms-transition: background 0s;
	transition: background 0s
}
.donate_bar .donate_txt {
	display: block;
	color: #9d9d9d;
	font: 14px/2 "Microsoft Yahei"
}
#donate_guide{
	height: 210px;
	width: 500px;
	margin: 0 auto;
}
#donate_guide img{
	height: 200px;
	height: 200px;
	margin-left: 20px;
	margin-right: 20px;
}
</style>